mixin tileMd(data)
  .tile-md
    .tile-md__overlay    
      - const style = `color: ${data.titleColor}`;
        .tile-md__title(style= style )= data.title
        .tile-md__whitespace
    .tile-md__image-container
      - const imgsrc1x = `%=static=%img/content/${data.image}.png`
      - const imgsrc2x = `%=static=%img/content/${data.image}@2x.png`
      - const imgsrc3x = `%=static=%img/content/${data.image}@3x.png`
      - const srcset = `${imgsrc1x} 172w, ${imgsrc2x} 344w, ${imgsrc3x} 516w`
      - const sizes = `(min-width: 600px) 328px, 344px`
        img.tile-md__image(srcset= srcset, sizes= sizes, src=imgsrc1x alt=data.title)
    .tile-md__desc-container
      p.tile-md__desc= data.description
      .tile-md__actions
        .tile-md__dots
        .tile-md__like
