mixin tileSm(data)
  .tile-sm
    .tile-sm__overlay    
      - const style = `color: ${data.titleColor}`;
      .tile-sm__title(style= style)= data.title
      .tile-sm__whitespace
      .tile-sm__actions
        button.tile-sm__dots
        button.tile-sm__like
    .tile-sm__image-container
      - const imgsrc1x = `%=static=%img/content/${data.image}.png`
      - const imgsrc2x = `%=static=%img/content/${data.image}@2x.png`
      - const imgsrc3x = `%=static=%img/content/${data.image}@3x.png`
      - const srcset = `${imgsrc1x} 112w, ${imgsrc2x} 224w, ${imgsrc3x} 336w`
      - const sizes = `(min-width: 600px) 213px, 164px`
        img.tile-sm__image(srcset= srcset, sizes= sizes, src=imgsrc1x alt=data.title)
